.container {
  display: flex;
  flex-direction: column;
}

.img {
  border-radius: 0px;
}

.title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  width: 90%;
  margin: 11px auto;
  color: #240d57;
}

.subtitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 90%;
  margin: 0 auto;
  color: #828282;
}

.datesInformation,
.locationInformation {
  display: flex;
  margin: 32px auto;
  width: 92%;
}

.datesInformation > div {
  margin-top: 15px;
}

.datesInformation__date,
.locationInformation__field {
  height: 18px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #240d57;
  margin: 0px 0px 3px 20px;
}

@media screen and (min-width: 480px) {
  .container {
    justify-content: center;
    width: 80%;
    min-height: 800px;
    margin: 80px auto;
    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.15));
  }

  .title {
    margin: 11px 0;
    font-size: 48px;
    width: 100%;
  }

  .subtitle {
    margin: 0;
    font-size: 18px;
  }

  .datesInformation,
  .locationInformation {
    margin: 32px 0;
  }

  .img {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
  }

  .img {
    width: 500px;
    height: 500px;
  }
}
